body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #ffebf4;
}

h1 {
    color: #d10068;
}

#quiz-container {
    background: white;
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

button {
    margin-top: 10px;
    padding: 10px;
    width: 200px;
}
